<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>All Transactions</title>

    <meta charset="UTF-8" />

    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    ></script>
    <script></script>

    <style>
      #contain-table table,
      tr,
      td,
      th {
        border-collapse: collapse;
        border: black 2px solid;
      }
      #contain-table th {
        background-image: linear-gradient(45deg, #620d74, #c7ec41);
      }
      #contain-table td{
        padding-left: 5px;
        padding-right: 5px;
      }

      .transaction-row{
        cursor: pointer;
      }
      .transaction-row:hover{
        background-color: #7ad8f9;
      }

    </style>
    <link rel="stylesheet" th:href="@{/assets/style.css}" />
  </head>
  <body>
    <div th:replace="~{banner.html :: header}"></div>
    <div class="page-top" style="display: flex; justify-content: center">
      <div class="center-div" id="contain-table">
        <table>
          <tr>
            <th>id</th>
            <th>date</th>
            <th>type</th>
            <th>amount</th>
          </tr>
          <tr th:each="tran : ${transactions}" class="transaction-row" th:onclick="'location.href=\'/transactions/' + ${tran.id} + '\''">
            <td>[[${tran.id}]]</td>
            <td>[[${tran.date}]]</td>
            <td>[[${tran.type}]]</td>
            <td>[[${tran.amount}]]</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
