<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Random Result</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script th:inline="javascript">
      $(document).ready(function(){

      var list = [[${randomList}]];
      console.log(list);
      $('#itemLength').text(list.length);

      });

    </script>
    
    <style>
      .butt{
        margin: auto;
      }
      #itemCount{
        margin: 20px;
        font-size: 20px;
        text-align: center;
      }
    </style>
    <link rel="stylesheet" th:href="@{/assets/style.css}" />
  </head>
  <body>
    <div th:replace="~{banner.html :: header}"></div>
    <div class="page-top" style="display: flex; justify-content: center">
      <div>
        <h1>result :</h1>
        <div th:id="itemCount" >you have <a id="itemLength"></a> items</div>

        <table style="background-color: #8deb87;">
          <tr style="display: block" th:each="value,status:${randomList}">
            <td>[[${status.count}]] : <a th:text="${value}"></a></td>
          </tr>
        </table>

        <div style="display: block; margin: 20px;text-align: center;">
          <span style="font-size: 25px">
            you have random
            <a style="color: #5018b8">[[${randomTimes}]]</a> times</span>
          <div style="display: flex; margin-top: 10px">
            <span th:class="butt">
              <form method="post" th:action="@{/randomize}">
                <textarea style="display: none" th:name="nameList">[[${nameList}]]</textarea>
                <input
                  type="hidden"
                  th:name="randomTimes"
                  th:value="${randomTimes}"
                />
                <button type="submit">Randomize again</button>
              </form>
            </span>
            <span th:class="butt">
              <button th:onclick="window.location.href=[[@{/random}]]">
                Return
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
