<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Search Cards</title>

    <meta charset="UTF-8" />

    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    ></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <script h:inline="javascript">
      $(document).ready(function () {

        //search card
        function search(){
          $("#result").hide();
          $("#result-card .card-row").remove();

          var formData = {
            id: $("#id").val(),
            year: $("#year").val(),
            sports: $("#sports").val(),
            publisher: $("#publisher").val(),
            set: $("#set").val(),
            player: $("#player").val(),
            auto: $("#auto").is(":checked") ? true : false,
            insert: $("#insert").val(),
            parallel: $("#parallel").val(),
            numbered: $("#numbered").val(),
            grade: $("#grade").val(),
            value: $("#value").val(),
          };

          $.ajax({
            url: "/cardRest/searchCard",
            type: "GET",
            data: formData,
            dataType: "json",
            success: function (response) {
              if (response.length == 0) {
                alert("found no card with the criteria");
                return;
              }
              var resultCards = "";
              alert("found card : " + response.length);
              response.forEach((card) => {
                resultCards += `<tr class="card-row">
            <td>
              <a class="show show-id">${card.id}</a
              ><input
                type="text"
                class="update-element id"
                size="4"
                value="${card.id}"
                disabled
              />
            </td>
            <td>
              <a class="show show-year">${card.year}</a
              ><input
                type="text"
                class="update-element year"
                size="4"
                value="${card.year}"
              />
            </td>
            <td>
              <a class="show show-sports">${card.sports}</a
              ><input
                type="text"
                class="update-element sports"
                size="6"
                value="${card.sports}"
              />
            </td>
            <td>
              <a class="show show-publisher">${card.publisher}</a
              ><input
                type="text"
                class="update-element publisher"
                size="6"
                value="${card.publisher}"
              />
            </td>
            <td>
              <a class="show show-set">${card.set}</a
              ><input
                type="text"
                class="update-element set"
                size="10"
                value="${card.set}"
              />
            </td>
            <td>
              <a class="show show-player">${card.player}</a
              ><input
                type="text"
                class="update-element player"
                value="${card.player}"
              />
            </td>
            <td>
              <a class="show show-auto">${card.auto}</a
              ><input
                type="checkbox"
                class="update-element auto"
                checked="${card.auto}"
              />
            </td>
            <td>
              <a class="show show-insert">${card.insert}</a
              ><input
                type="text"
                class="update-element insert"
                size="6"
                value="${card.insert}"
              />
            </td>
            <td>
              <a class="show show-parallel">${card.parallel}</a
              ><input
                type="text"
                class="update-element parallel"
                size="6"
                value="${card.parallel}"
              />
            </td>
            <td>
              <a class="show show-numbered">${card.numbered}</a
              ><input
                type="text"
                class="update-element numbered"
                size="6"
                value="${card.numbered}"
              />
            </td>
            <td>
              <a class="show show-grade">${card.grade}</a
              ><input
                type="text"
                class="update-element grade"
                size="6"
                value="${card.grade}"
              />
            </td>
            <td>
              <a class="show show-value">${card.value}</a
              ><input
                type="text"
                class="update-element value"
                size="6"
                value="${card.value}"
              />
            </td>
            <td><a class="show show-note">${card.note}</a></td>
            <td>
              <span style="display: flex">
                <button class="show action-butt modify">modify</button>
                <button class="show action-butt comps">comps</button>
                <button class="show action-butt get-tran" onclick="window.location.href='/card/cardTransaction/${card.id}'">
                  transaction
                </button>
                <button class="update-element action-butt save">save</button>
                <button class="update-element action-butt cancel">
                  cancel
                </button>
              </span>
            </td>
          </tr>`;
              });
              $("#result-card").append(resultCards);
              $("#result").show();
            },
            error: function (xhr, status, error) {
              console.log(error);
              alert("Error occurred while fetching data.");
            },
          });
        }

        $("#search-butt").on("click", function () {
          search();
        });

        //press enter to search
        $(document).on("keypress",function(e){
          if(e.which==13){
            search();
          }
        });

        $("#hide-butt").on("click", function () {
          $("#result").hide();
        });

        //modify card data
        $("#result").on("click", ".modify", function () {
          var row = $(this).closest("tr");
          row.find(".show").hide();
          row.find(".update-element").show();
        });

        $("#result").on("click", ".comps", function () {
          console.log("get comps");
          var row = $(this).closest("tr");
          var link = getCompLink(row);
          window.open(link, "_blank");
        });

        $("#result").on("click", ".cancel", function () {
          var row = $(this).closest("tr");
          row.find(".show").show();
          row.find(".update-element").hide();
        });

        $("#result").on("click", ".save", function () {
          var row = $(this).closest("tr");

          var cardData = {
            id: row.find(".id").val(),
            year: row.find(".year").val(),
            publisher: row.find(".publisher").val(),
            set: row.find(".set").val(),
            player: row.find(".player").val(),
            auto: row.find(".auto").is(":checked") ? true : false,
            insert: row.find(".insert").val(),
            parallel: row.find(".parallel").val(),
            numbered: row.find(".numbered").val(),
            sports: row.find(".sports").val(),
            grade: row.find(".grade").val(),
            value: row.find(".value").val(),
          };

          var formData = $.param(cardData);

          $.ajax({
            url: "/card/updateCard",
            type: "POST",
            // contentType: "application/json",
            data: formData,
            success: function (response) {
              alert("card info updated successfully");
              window.location.href = "/card";
            },
            error: function (error) {
              console.log(error);
              alert("error : " + error);
            },
          });
        });

      });
    </script>

    <style>
      #search table,
      #search tr,
      #search th,
      #search td {
        border: 1px solid #1324cf;
        border-collapse: collapse;
        padding: 8px;
      }
      #search-table {
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      #search {
        display: flex;
        text-align: center;
        align-items: center;
        margin-bottom: 20px;
      }

      #search th {
        background-image: linear-gradient(45deg, #f7d644, #19991f);
      }

      #result table,
      #result tr,
      #result th,
      #result td {
        border: 1px solid #1324cf;
        border-collapse: collapse;
        padding: 8px;
      }

      #result-card {
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      #result th {
        background-image: linear-gradient(45deg, #d25bff, #3030f5);
      }

      #result tr:nth-child(odd) {
        background-color: #c9ecf4;
      }

      .action-butt {
        margin-left: 5px;
        margin-right: 5px;
      }
      .update-element {
        display: none;
      }
      .save {
        background-color: #2bea96;
      }
      .cancel {
        background-color: #e64038;
      }
    </style>
    <link rel="stylesheet" th:href="@{/assets/style.css}" />
  </head>
  <body>
    <div th:replace="~{banner.html :: header}"></div>
    <div class="page-top" style="justify-content: center">
      <div class="center-div"><h1>Search Card</h1></div>
    </div>
    <div class="center-div" id="card">
      <div class="center-div" style="display: flex;" id="search">
        <table id="search-table">
          <tr>
            <th>id</th>
            <th>year</th>
            <th>sports</th>
            <th>publisher</th>
            <th>set</th>
            <th>player</th>
            <th>auto</th>
            <th>insert</th>
            <th>parallel</th>
            <th>numbered</th>
            <th>grade</th>
            <th>value</th>
          </tr>
          <tr>
            <td><input type="text" id="id" size="4" /></td>
            <td><input type="text" id="year" size="4" /></td>
            <td><input type="text" id="sports" size="6" /></td>
            <td><input type="text" id="publisher" size="6" /></td>
            <td><input type="text" id="set" size="10" /></td>
            <td><input type="text" id="player" /></td>
            <td><input type="checkbox" id="auto" /></td>
            <td><input type="text" id="insert" size="6" /></td>
            <td><input type="text" id="parallel" size="6" /></td>
            <td><input type="text" id="numbered" size="6" /></td>
            <td><input type="text" id="grade" size="6" /></td>
            <td><input type="text" id="value" size="6" /></td>
          </tr>
        </table>
      </div>
      <button id="search-butt">search</button>
    </div>
    <div class="center-div" id="result" style="margin-top: 30px; display: none">
      <div class="center-div" style="display: flex;">
      <table id="result-card">
        <tr>
          <th>id</th>
          <th>year</th>
          <th>sports</th>
          <th>publisher</th>
          <th>set</th>
          <th>player</th>
          <th>auto</th>
          <th>insert</th>
          <th>parallel</th>
          <th>numbered</th>
          <th>grade</th>
          <th>value</th>
          <th>note</th>
          <th>action</th>
        </tr>
      </table>
    </div>
      <button id="hide-butt">clear</button>
    </div>
  </body>
</html>
