<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    
    <title>Template
    </title>

    <meta charset="UTF-8" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
    
    </script>

    <style>
    </style>
    <link rel="stylesheet" th:href="@{/assets/style.css}" />

  </head>
  <body>
    <div th:replace="~{banner.html :: header}"></div>
    <div class="page-top">
    </div>
  </body>
</html>
